:root {
    --branding-color-orange: #FF834F;
    --branding-color-blue: #4081fa;
    --branding-color-grey: #4d4d4d;
    --heading-font-family: 'Poppins', sans-serif;

}


.logo {
    max-width: 200px;
}

.normal {
    font-weight: normal;
}

.index-container h1, h2, h3 {

    color: var(--branding-color-grey);

}

.about-description {
    color: var(--branding-color-grey);
}